@import "tailwindcss";

.Shadow {
  box-shadow: 0px 0px 15px black;
}

/* =============== ScrollBar =============== */

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
